{% extends 'base.html'%}
{% block title %}
  customer 
{% endblock title %}
{% block content %}

<div class="container mb-5" style=" margin-top:150px;">
  <h2 class="text-center mb-4"><u> Customer Registration </u></h2>
  <form>

  <!--e-mail-->
  <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" required>
    </div>


    <!-- First Name -->
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required>
    </div>

    <!-- Last Name -->
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required>
    </div>

    <!-- Gender -->
    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <select class="form-select" id="gender">
        <option selected disabled>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <!-- Address -->
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <textarea class="form-control" id="address" rows="3" placeholder="Enter Address"></textarea>
    </div>

    <!-- City -->
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" placeholder="Enter City">
    </div>

    <!-- Postal Code -->
    <div class="mb-3">
      <label for="postalCode" class="form-label">Postal Code</label>
      <input type="text" class="form-control" id="postalCode" placeholder="Enter Postal Code">
    </div>

    <!-- Submit Button -->
    <div class="d-flex justify-content-center w-100 ">
       <button type="submit" class="btn btn-success w-50 mt-5 mb-5">Register</button>
    </div>
   
  </form>
</div>


{% endblock content %}