{% extends 'base.html' %}

{% block title %}
  login
{% endblock title %}
{% block content %}

<div style="margin-top:7%;margin-bottom:5%;display:flex;justify-content:center;width:100%;align-item:center;">

  <div class="container mt-5 p-3" style="width:40%;background-color:rgb(239, 238, 231);border-radius:15px;">
  <form>

    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" required>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
    </div>

    <!-- Submit Button -->
    <div class=" d-flex flex-direction:row justify-content-around mt-5">
    <div>
      <p class=" fs-5"> New User?  </p>
      <a href="{% url 'registration' %}" class="fw-bold" style="font-style:italic" > sign Up </a>
    </div>
    <div>
      <button class="btn bg-primary text-light fw-bold"   type="submit" style="font-style:italic"> login </button>
      <a href="" class="fs-5 text-dark text-center mt-5" > forgot password </a>
    </div>
    </div>

  </form>
</div>
</div>

{% endblock content %}