{% extends 'base.html'%}
{% block title %}
  seller
{% endblock title %}
{% block content %}

<div class="container mb-5" style=" margin-top:150px;">
  <h2 class="text-center mb-4"><u> Seller Registration </u></h2>
  <form>

    <!-- Business Name -->
    <div class="mb-3">
      <label for="businessName" class="form-label">Business Name</label>
      <input type="text" class="form-control" id="businessName" placeholder="Enter Business Name" required>
    </div>

    <!-- Business Address -->
    <div class="mb-3">
      <label for="businessAddress" class="form-label">Business Address</label>
      <textarea class="form-control" id="businessAddress" rows="3" placeholder="Enter Business Address"></textarea>
    </div>

    <!-- GST Number -->
    <div class="mb-3">
      <label for="gstNumber" class="form-label">GST Number</label>
      <input type="text" class="form-control" id="gstNumber" placeholder="Enter GST Number">
    </div>

    <!-- Submit Button -->
<div class=" d-flex justify-content-center w-100">
    <button type="submit" class="btn btn-success w-50 mt-5">Register</button>
</div>
  

  </form>
</div>


{% endblock content %}