{% extends 'base.html' %}
{% load static %}
  {% block title %}
      wow
  {% endblock title %} 
{% block content %}
<div class="image-container position-relative">
   <img src="{% static 'images/index_bg.jpg' %}" alt="index_bg" class="w-100 img-fluid d-block">
<div class="position-absolute top-50 start-50  p-4  text-center translate-middle  w-75 w-md-50" style="border-radius:50px ;background-color: #f4f2e2;">
  <h1 id="shopping" class="bi bi-cart4 text-dark" style="font-size:50px;"> GET START YOUR FAVORITE SHOPPING
</h1>
<div>
   <a href="{% url 'login' %}" class="btn btn-dark ps-5 pe-5 mt-5"> Explore Now </a>
</div>
</div>
 </div> 

 <!--about as-->
<div id="about-us" class="container-fluid" style="z-index:100; top:0; background-color:rgb(203, 186, 177);">
<div class="row col-12 text-center p-5 d-flex justify-content-center">
<div class="w-50">
 <h2 class=" bg-dark text-light"> About-us </h2>
</div>
</div>
  <div class="row">
    <div class="col-6">
      <div>
        <h2 class="  " style=" "><u> E-commerce</u></h2>
        <p class=" " style="font-weight:bold color:rgb(119, 114, 112); font-size:18px;"> E-commerce (electronic commerce) is the buying and selling of goods and services over the internet. It allows businesses and customers to trade products, make payments, and manage orders online without physical stores. E-commerce platforms can include online shops, marketplaces, and service booking sites like Amazon, Flipkart, or Myntra.</p>
      </div>

      <div>
        <h2 class=" mt-4 " style=" "><u> Global Reach</u></h2>
        <p class=" " style="font-weight:bold color:rgb(119, 114, 112); font-size:18px;">Online stores are typically open around the clock, providing flexibility for consumers with busy schedules </p>
      </div>


      <div>
        <h2 class=" mt-4  style=" "><u> Scalability and Flexibility </u></h2>
        <p class=" " style="font-weight:bold color:rgb(119, 114, 112); font-size:18px;">E-commerce platforms can easily scale up or down to meet changing demands, allowing businesses to adapt quickly to market fluctuations. </p>
      </div>


      <div>
        <h2 class=" mt-4  style=" "><u> 24/7 Availability </u></h2>
        <p class=" " style="font-weight:bold color:rgb(119, 114, 112); font-size:18px;">Online stores are typically open around the clock, providing flexibility for consumers with busy schedules.  </p>
      </div>
    </div>
    <div class="col-6 p-5">
      <img src="../static/images/login-pic.jpg" alt="login-pic" class="w-100 img-fluid d-block">
    </div>
  </div>
</div>

<!--card-->
<div id="shop" class="container container-md mt-3 mb-3">
  <div class="row g-4 align-items-center text-center">

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>


    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>


    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>


    </div>
  </div>

{% endblock content %}

