{% extends 'base.html'%}
  {% block title %}
      wow
  {% endblock title %} 
{% block content %}
<div class="image-container position-relative">
   <img src="../static/images/index_bg.jpg" alt="index_bg" class="w-100 img-fluid d-block">
<div class="position-absolute top-50 start-50  p-4  text-center translate-middle  w-75 w-md-50" style="border-radius:50px ;background-color: #f4f2e2;">
  <h1 id="shopping" class="bi bi-cart4 text-dark" style="font-size:50px;font-style:italic"><span style="text-decoration: underline; text-decoration-color:red;">GET START YOUR FAVORITE SHOPPING....</span>
</h1>
 <a href="{% url 'login' %}" class="btn btn-dark ps-5 pe-5 mt-5"> continue to shop </a>
</div>
 </div> 

 <!--about as-->
<div id="about-us" class="container-fluid bg-success">
<div class="row col-12 text-center text-light p-5">
  <h2 class="bg-dark p-2"><u>About-us </u></h2>
</div>
  <div class="row">
    <div class="col-6 text-center">
      <div>
        <h2 style="font-style:italic"><u> E-commerce</u></h2>
        <p class="text-light" style="font-weight:bold"> E-commerce (electronic commerce) is the buying and selling of goods and services over the internet. It allows businesses and customers to trade products, make payments, and manage orders online without physical stores. E-commerce platforms can include online shops, marketplaces, and service booking sites like Amazon, Flipkart, or Myntra.</p>
      </div>

      <div>
        <h2 style="font-style:italic"><u> Global Reach</u></h2>
        <p class="text-light" style="font-weight:bold">Online stores are typically open around the clock, providing flexibility for consumers with busy schedules </p>
      </div>


      <div>
        <h2 style="font-style:italic"><u> Scalability and Flexibility </u></h2>
        <p class="text-light" style="font-weight:bold">E-commerce platforms can easily scale up or down to meet changing demands, allowing businesses to adapt quickly to market fluctuations. </p>
      </div>


      <div>
        <h2 style="font-style:italic"><u> 24/7 Availability </u></h2>
        <p class="text-light" style="font-weight:bold">Online stores are typically open around the clock, providing flexibility for consumers with busy schedules.  </p>
      </div>
    </div>
    <div class="col-6 p-5">
      <img src="../static/images/login-pic.jpg" alt="login-pic" class="w-100 img-fluid d-block">
    </div>
  </div>
</div>

<!--card-->
<div id="shop" class="container container-md mt-3 mb-3">
  <div class="row g-4 align-items-center text-center">

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>


    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>

    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>


    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/login-pic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>
    
    <div class="card col-3 me-5 pt-2" style="width:17rem;">
      <img src="../static/images/index_bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
      <div class="card-body">
        <button class="btn text-light bg-danger  fs-5 fw-bold " type="submit"> Buy now </button>
      </div>
    </div>


    </div>
  </div>

{% endblock content %}

